#header{

}

.half-rule {
  height: 1px;
   width:100%;
   display:block; /* for use on default inline elements like span */
   margin: 9px 0;
   overflow: hidden;
   background-color: #e5e5e5;
 }

#page_body{
margin: 0px;
padding: 0px;
overflow: hidden;
}

#about{
padding-left: 10px;
padding-right:10px;
margin-bottom: 20px;
}

#about img{
  border-radius: 50%;
  height:80%;
  width:100%;
}


#portfolio{

}

#contact{

}
#contact_background_image{
  background-image: url("../images/image1.jpeg");
}

#footer{

}

#social_links{

}

#copyright_bar{

}

#slider{

}

#slider img{
height:500px;
}

.parallax {
    /*set the background image on element itself:
    background-image: url("img_parallax.jpg"); */

    /* Set a height for the image - can be applied individually */
    height: 500px;
    /* Parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
